.header 
{
    overflow: hidden;
    background-color: #1b1b4d;
    padding: 20px 10px;
}

.header div
{
    margin-right: 10%;
}

.header div.logInDiv a{
    font-family: 'nikkyou';
    display: block;
    color:  #be90d6;
    text-align: center;
    padding: 8px 14px;
    text-decoration: none;
    font-size: 18px;
    border: solid #c07fe4;
    float: right;
   
}
  
.header a {
    
    float: left;
    color: #e8e8ea;
    text-align: center;
    font-family: 'Roboto';
    font-weight: bold;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
   
}
  
.header a.logo {
    margin-left: 10%;
    font-size: 25px;
    font-weight: bold;
}
  
.header a:hover {
    background-color: #ddd;
    color: black;
}
  
.header a#active {
    background-color: #675ca8;
    color: #e8e8ea;
}
  
.header-right {
    float: right;
}