/* colors:  #1b1b4d , #575ba8 , #675ca8 , #a3a3a3 , #e8e8ea */



@import "main.css";


@import "form.css";


@import "header.css";


@import "planet.css";


@import "articles.css";



@font-face {
    font-family: 'nikkyou';
    src: url("../../fonts/NikkyouSans-B6aV.ttf");
}

@font-face {
    font-family: 'exoplan';
    src: url("../../fonts/Exoplanetaria-gxxJ5.ttf");
}






